.tooltip-letra {
    min-width: 150px;
    margin-bottom: 12px;
}

.tooltip-inner-letra {
    font-size: 80px;
    background-color: #00000070;
}

.img-capa {
    width: 400px;
    height: 400px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
}

.list-album {
    width: 500px;
    height: 500px;
    max-height: 500px;
    max-width: 500px;
    display: none;    
}

#music-time {
    margin-top: 6px;
}

.music-progress-bar {
    height: 11px;
}

.background-image {
    position: fixed;
    left: -10px;
    right: 0;
    z-index: -1000;
    display: block;
    height: calc(100vh + 20px);
    width: calc(100vw + 20px);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    background-size: calc(100vw + 20px);
    /*opacity: 0.7;*/
    top: -9px;    
    background-image: url('../image/default/NodeJukebox.png');
}


#canvas {
    position: fixed;
    left: 0;
    bottom: calc(100vh - 464px);    
    width: 100%;
    height: 100%;
    z-index: -500;
    opacity: 0.5;
}

.capa-atual {
    width: 125px;
}

#title-musica {
    margin-bottom: 0;
}

.card-list {
    max-height: calc(100vh - 550px);
    min-height: calc(100vh - 550px);
    overflow-y: auto;
}

.list-group.list-group-flush.list-musicas {
    max-height: 448px;
    overflow-y: auto;
    transform: none !important;
    overflow-x: hidden;
    min-height: 448px;
}

.titulo-musica {
    text-overflow: ellipsis;
    overflow: hidden;
}

.row-coverflow {
    min-height: 548px;
}

@media (min-height: 769px)
{
    .img-capa {
        width: 500px;
        height: 500px;
    }

    #canvas {
        bottom: calc(100vh - 564px);
    }

    .card-list {
        max-height: calc(100vh - 650px);
        min-height: calc(100vh - 650px);
    }
}